.brand {
  font-family: 'Galano Grotesque Alt DEMO';
}

.logo-container {
  margin-top: -64px;
}

.logo {
  height: 72px;
  width: 72px;
  position: relative;
  text-indent: -9999px;
  margin: auto;
  transition: background 0.5s ease-in-out, opacity 0.5s ease-in-out; /* Corrected transition */
}

@media (min-width: 768px) {
  .logo {
    height: 100px;
    width: 100px;
  }
}

@media (min-width: 1024px) {
  .logo {
    height: 120px;
    width: 120px;
  }
}

@media (min-width: 1280px) {
  .logo {
    height: 128px;
    width: 128px;
  }
}

body.day .logo {
  background: url(../images/logo-dark.png) no-repeat center center;
  background-size: cover;

}

body.night .logo {
  background: url(../images/logo-light.png) no-repeat center center;
  background-size: cover;
}

body {
    transition: background 0.5s, color 0.5s;
}
